# exclude .gitignore and similar from the generated tarball
.git*           export-ignore
.vscod*           export-ignore
Workspace.code-workspace     export-ignore
graphics/       export-ignore
README.md       export-ignore
