#navigator {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 10px;
	left: 0;
	width: 10vw;
	height: calc(100% - 20px);
	z-index: 1000;
	cursor: move;
}

#indicator {
	position: absolute;
	left: 0px;
	height: 24px;
	width: 100%;
	padding: 0;
	margin: 0;
	cursor: move;
	display: flex;
	justify-content: center;
	align-items: center;
}

#indicator-line {
	height: 3px;
	width: 100%;
	background-color: rgb(255, 0, 0);
	padding: 0;
	margin: 0;
}

@media (orientation: portrait) {
	#indicator-line {
		height: 6px;
	}
}

#year-column {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
}

#year-background {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	height: 0;
	--bar-display: block;
}

.back-blue:after {
	display: var(--bar-display);
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: repeating-linear-gradient(
		to bottom, 
		transparent 0px, 
		rgba(233, 235, 238, .5) 100px, 
		transparent 200px, 
		rgba(233, 235, 238, .5) 300px, 
		transparent 400px
	);
	z-index: 1;
	animation: move 2s linear infinite;
	background-size: auto 400px;
	background-blend-mode: lighten;
	overflow: hidden;
}

@keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 400px;
	}
}
  
#year-back-top {
	position: absolute;
	top: -10px;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 10px;
}

#year-back-bottom {
	display: none;
	position: absolute;
	bottom: -10px;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 10px;
}

.year-div {
	display: flex;
	position: relative;
	width: 100%;
	justify-content: start;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-weight: bold;
	flex: 1;
	cursor: move;
}

.year-text {
	margin: 0px;
	padding: 0px 5px;
	transform-origin: 0% 50%;
	cursor: move;
}

.year-mark {
	background-color: gray;
	margin-top: 12px;
	padding: 10px;
	font-size: 24px;
	font-weight: 800;
	color: white;
	position: relative;
	text-align: center;
}

.tooltip {
	left: 0px;
	top: 0px;
	position: absolute;
	width: 100%;
	text-align: center;
}

img._a6_o {
	cursor: pointer;
}

#memories {
	text-shadow: -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray, 1px 1px 0 gray;
}

#find {
	flex-grow: 1;
	text-align: center;
}

.outline {
	border-style: dashed;
	border-width: 5px;
	border-color: black;	
}

#title {
	flex-grow: 1;
	padding: '20px';
}

.banner {
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: 600;
	cursor: pointer;
	display: flex;
	align-content: space-between;
	column-gap: 2.5%;
	align-items: center;
}

@media (orientation: portrait) {
	.year-text {
		scale: 1.7 2.7;
	}
	._a705 {
		max-width: 88vw;
	}
	.back-blue {
		background-color: deepskyblue;
	}
	.back-gray {
		background-color: #c0c0c0;
	}
	.year-div:not(:last-child) { 
		border-bottom: 1px solid black;
	} 
	#year-background {
		width: 100%;
	}
	.banner {
		height: 120px;
	}
	#title {
		font-size: 18px;
		scale: 1 2;	
	}
	.text-button {
		font-size: 50px;
	}
	#find {
		font-size: 48px;
	}
}

@media (orientation: landscape) {
	.year-text {
		scale: calc((clamp(0, 0.2 - abs(var(--pos) - var(--indicator, 0)), 0.2) / 0.2) * 1.0 + 1);
	}
	.back-blue {
		background-image: repeating-linear-gradient(
			to right,
			deepskyblue 0,
			deepskyblue 60%,
			transparent
		);
	}
	.back-gray {
		background-image: repeating-linear-gradient(
			to right, 
			#c0c0c0 0,
			#c0c0c0 60%,
			transparent
		);
	}
	.year-div:not(:last-child)::after { 
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		height: 1px;
		width: 50%;
		background-color: black;
	} 
	#year-background {
		width: 50%;
	}
	.banner {
		height: 70px;
	}
	#title {
		font-size: 18px;
	}
	.text-button {
		font-size: 30px;
	}
	#find {
		font-size: 24px;
	}
}

._a705 {
	padding-left: 10vw;
}
